config rpcd
	option socket /var/run/ubus/ubus.sock
	option timeout 30

config login
	option username 'doowon'
	option password '$p$doowon'
	option change_password 'Must be'
	option default_password '$6$lk/DtZbq8PnKLo0t$BVvLcKO9V4sjmrB8eH5iao8WL4f2CWDoOa8rfJaQaqklJtb6lqwMgurNmmoZIyndZKPLk8V42xCdNWacM3XwL.'
	list read '*'
	list write '*'

config login
	option username 'oneip'
	option password '$6$lk/DtZbq8PnKLo0t$BVvLcKO9V4sjmrB8eH5iao8WL4f2CWDoOa8rfJaQaqklJtb6lqwMgurNmmoZIyndZKPLk8V42xCdNWacM3XwL.'
	option change_password 'Must be'
	option default_password '$6$lk/DtZbq8PnKLo0t$BVvLcKO9V4sjmrB8eH5iao8WL4f2CWDoOa8rfJaQaqklJtb6lqwMgurNmmoZIyndZKPLk8V42xCdNWacM3XwL.'
	option timeout '300'
	list read '*'
	list write '*'
